.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1000px;
    min-height: 100vh;
    margin: 80px auto;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoContainer {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid lightgrey;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    margin-top: 10px;
    font-weight: bolder;
}

.description {
    margin-top: 5px;
    color: grey;
    text-align: center;
}

.links {
    margin-top: 20px;
}

ul {
    display: inline-flex;
    list-style: none;
    column-gap: 10px;
}

li {
    cursor: pointer;
}

li a {
    width: 24px;
    height: 24px;
    color: inherit;
    text-decoration: none;
}

.project {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-title {
    align-self: flex-start;
}
