.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 100px auto;
}

.profileSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photoContainer {
  width: 150px;
  height: 150px;
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  border: 1px solid lightgrey;
}

.name {
  margin-top: 10px;
  font-weight: bold;
}

.description {
  margin-top: 5px;
  color: rgb(124, 124, 124);
  text-align: center;
}

.links{

}
